.feedback {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.feedback > p {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
}

.feedback textarea {
    width: 720px;
    height: 112px;
    border-radius: 8px;
    padding: 15px;
    border: 3px solid #036FDB; 
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #000000;
}

.comentar {
    width: 139px;
    height: 47.89px;
    border-radius: 8px;
    border: none;
    background-color: #036FDB;
    font-size: 16px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    line-height: 19.36px;
    cursor: pointer;
}